*.fdb_latexmk
*.log
*.blg
*.out
thesis-*.pdf
stellingen.pdf
*.aux
*.bbl
figures-out
*.toc
*.glg
*.glo
*.gls
*.acn
*.acr
*.lot
thesis-publication.ist
thesis-abstractonly.ist
thesis-discussion.ist
thesis-only.ist
thesis-press.ist
*.alg
*.lof
*.fls
*.glsno
*.glono
*.tdo
thesis-src.tgz
thesis-discussion.tex
thesis-publication.tex
thesis-press.tex
thesis-abstractonly.tex
thesis-only.tex
wordlist_*.txt
*.pgf-plot.table
*.pgf-plot.gnuplot
*.ind
*.ilg
*.idx
*.xmpi
*.xmpdata
thesis-src.list
*.brf
*.djs
thesis-src*.tgz.gpg
*-copy.pdf
* - *.pdf
PhD thesis.pdf
letter.pdf

